/* sign up */

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    line-height: 1.8;
    background:url('/Images/photo-2.jpg') center center/cover;
}
a{
    text-decoration: none;
}
.container{
    margin:30px auto ;
    max-width: 400px;
    position: relative;
}
.form-wrap{
    padding: 2px 12px;
    color:#fff;
    background: #333;
    border-radius: 20px;
}
.form-wrap h1,
.form-wrap p{
    text-align: center;
}
.form-wrap h1{
    font-size: 40px;
}
.details{
    font-size: 20px;
}
.form-wrap .form-group{
    margin-top: 5px;
}
.form-wrap .form-group label{
    display: block;
    color:#fff;
}
.form-wrap .form-group input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
/*
.form-wrap button{
    border-radius: 10px;
    background: #f1d6ba;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}
*/
.container .sign a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.sign a:hover{
    background: #f7c08a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px#f7c08a,
                0 0 5px#f7c08a,
                0 0 5px#f7c08a,
                0 0 5px#f7c08a;
}
.form-wrap .bottom-text{
    font-size: 13px;
    margin-top: 20px;
}
footer{
    text-align: center;
    margin-top: 10px;
}
footer a{
    color: #f8c49b;
}

/* sign in */

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:url('/Images/photo-2.jpg') no-repeat center center/cover;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #333;
    box-sizing: border-box;
    box-shadow: #333;
    border-radius: 10px;
}
.login-box h2{
    font-size: 40px;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: relative;
    top: 0;
    left: 0;
    padding: 2px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: 20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}
.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-box a:hover{
    background: #f7c08a;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px#f7c08a,
                0 0 5px#f7c08a,
                0 0 5px#f7c08a,
                0 0 5px#f7c08a;
}

/*
.login-box a span{
position: relative;
display: block;
}
.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.login-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100px;
    background: linear-gradient(180deg, trasparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.login-box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.login-box a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

*/